.header {
  box-shadow: 12px 0px 8px 0.1px black;
}

.header-container img {
  width: 10rem;
  height: 3.5rem;
}

.nav-links {
  color: black;
  font-weight: 500;
  margin-left: 2rem;
  position: relative;
}

.nav-links:hover {
  text-decoration: underline;
  text-decoration-color: #82b53f;
  text-decoration-thickness: 3px;
}

.login-btn {
  border: 1px solid rgb(130, 181, 63);
  margin-right: 1rem;
  width: 5rem;
  height: 2.5rem;
  border-radius: 5px;
  color: rgb(130, 181, 63);
  background-color: white;
}

.login-btn:hover {
  color: white;
  background-color: rgb(130, 181, 63);
}

.signup-btn {
  border: 1px solid rgb(130, 181, 63);
  margin-right: 1rem;
  width: 5rem;
  height: 2.5rem;
  border-radius: 5px;
  color: white;
  background-color: rgb(130, 181, 63);
}

.signup-btn:hover {
  color: rgb(130, 181, 63);
  background-color: white;
}
