.register {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.register-heading {
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #2a2a2a;
}

.register-sub-heading {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #6a6a6a;
}

.register-img {
  padding: 3rem;
  height: 30rem;
}

.register-form {
  padding: 2rem;
  background: #f8f8f8;
  border-radius: 15px;
  margin-top: 2rem;
}

.register-form label {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #2a2a2a;
}

.register-input-group-one {
  width: 15rem;
  border-color: rgba(217, 217, 217, 1);
  outline-color: rgba(217, 217, 217, 1);
}

.register-input-group-two {
  width: 33rem;
  border-color: rgba(217, 217, 217, 1);
  outline-color: rgba(217, 217, 217, 1);
}

.register-btn {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.register-btn button {
  width: 18rem;
  height: 3rem;
  background: #82b53f;
  border: none;
  border-radius: 5px;
  color: white;
}

.register-btn button:hover {
  background: #528a0a;
}

/* CSS for mobile devices */
@media screen and (width < 583px) {
  .register-img {
    width: 22rem;
    height: 22rem;
  }
  .register-form {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .register-input-group-one {
    width: auto;
  }

  .register-input-group-two {
    width: auto;
  }
}
